* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(5, 158, 241);
}

#input-container {
    margin: 5% auto;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

#res {
    width: 500px;
    background-color: white;
    padding: 40px;
    margin: auto;
    border-radius: 20px;

    p {
        text-align: center;
    }
}